body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.title{
    display: flex;
    align-items: center;
}
.title h1{
    margin-left: 10px;
    font-style: italic;
    font-family: cursive;
}

.top-div {
    display: flex;
    justify-content: space-between;
    background-color: #f2f1f1;
    height: 250px;
   
}

.highlight{
    color: orange;
}

.heading{
    font-size: large;
    position: relative;
    left: 20px;
    text-wrap: wrap;
    margin-left: 10px;
    margin-right: 20px;
}
.top-div  img {
    height: 250px;
}

.image-container {
    position: relative;
}

.vectors{
    position: absolute;
    height: 50px;
}

#vec1{
    right: -31px
}

#vec2{
    height: 60px;
    right: 189px;
    top: 191px;
}

#vec3{
    right: 285px;
    top: 150px;
    width: 160px;
}
 #vec4{
    right: 425px;
    width: 50px;
    height: 150px;
 }
#vec5{
    right: 365px;
    height: 40px;
}
#vec6{
    top: 215px;
    right: 390px;
}
#vec6:hover{
    right: 395px;
}
.vector-div{
    position: relative;
}

#side-vector1{
    top: 100px;
}
#side-vector1:hover{
    left: 5px;
}
#side-vector2{
    bottom: 0px;
}


h2 {
    color: #333;
}

h3 {
    color: #2c3e50;
}

h4 {
    color: #555;
}


.main-body{
    display: flex;
    margin-top: 30px;
    position: relative;
}

.body-content{
    width: 45%;
}
li{
    margin-top: 10px;
}
form{
    width: 45%;
    padding: 10px;
    border: 1px solid ;
    border-radius: 8px;
}


input{
    height: 30px;
    padding: 5px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:nth-of-type(1) {
    width: 45%;
}

input:nth-of-type(2) {
    width: 45%;
}

input:nth-of-type(3) {
width: 95%;
}
input:nth-of-type(4) {
    width: 95%;
}
input:nth-of-type(5) {
    width: 95%;
}
input:nth-of-type(6) {
    width: 45%;
}
input:nth-of-type(7) {
    width: 45%;
}
input:nth-of-type(8) {
    width: 45%;
}
input:nth-of-type(9) {
    width: 45%;
}
input[type="checkbox"]{
    height: auto;
    display: inline-block;
}
form h3{
    text-align: center;
}
button {
    background-color: #5cb85c;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 160px;
    margin: 10px;
}

#body-vec{
    position: absolute;
    top: 300px;
    left: 550px;
}

button:hover {
    background-color: #4cae4c;
}
.main-body img{
    position: absolute;
    height: 300px;
    bottom: -18px;
}

footer {
    text-align: center;
    color: #777;
    background-image: url(footerImg.jpg);
    background-size: 100%;
}


@media (max-width: 1450px) {

    .main-body img{
        visibility: hidden;
    }
    #body-vec{
        visibility: hidden;
}
#side-vector2{
    visibility: hidden;
}
.heading{
    font-size: medium;
    height: 350px;
}

}

@media (max-width: 1100px) {
    #body-vec{
        visibility: hidden;
}
#side-vector2{
    visibility: hidden;
}
.heading{
    font-size: small;
    height: 450px;
}

}

@media (max-width: 790px) {
   .body-content,
    form {
        width: 100%; 
    }

    .top-div {
        height: fit-content;
        font-size: small;
       
    }

    .main-body {
        flex-direction: column;
    }
    .main-body img{
        visibility: hidden;
    }
    #body-vec{
        visibility: hidden;
}
#side-vector2{
    visibility: hidden;
}
.heading{
    font-size: small;
    height: 350px
}
.heading h4{
    visibility: collapse;
}
}